$breakpoint-tablet: 767px;

.box {
    border-radius: 15px;
    overflow: auto;
    width: 100% !important;

    &-header {
        background: #2F4C6F;
        color: #fff;

        .prevMonth {
            cursor: pointer;
        }

        .nextMonth {
            cursor: pointer;
        }
    }

    &-body {
        background: #f1acb7;

        .days {
            span {
                background: #e27586;
                color: #fff;
                border-radius: 50%;
                display: inline-block;
                height: 30px;
                width: 100%;
                line-height: 30px;
                cursor: pointer;

                &:hover {
                    background: #f7899a;
                }
            }
        }

        .dates {
            span {
                background: #f4bdc6;
                color: #000;
                border-radius: 50%;
                display: inline-block;
                height: 30px;
                width: 100%;
                line-height: 30px;
                cursor: pointer;

                &.active,
                &:hover {
                    background: #ffeef0;
                    color: #000;
                }

                &.ntMonth {
                    color: #938e8e;
                    background: #ffd8de;

                    &:hover {
                        background: #ffeef0;
                        color: #000;
                    }
                }
            }
        }
    }

    &#event {
        .box-header {
            .close {
                color: #fff;
                opacity: 1;
            }
        }

        .box-body {
            .events-today {
                height: 210px;
                overflow-x: hidden;
            }

            .events-input {
                .data-invalid {
                    border-color: red;
                }

                .error {
                    font-size: 12px;
                    color: red;
                    position: absolute;
                    top: 100%;
                }
            }
        }

    }
}


@media (max-width: $breakpoint-tablet) {
    html{
        body{
            .pa-sm{position: absolute;}
            .box{
                &-body{
                    .days{
                        span{height: 38px;width: 38px;line-height: 38px;font-size: .5rem;}
                    }
                    .dates{
                        span{height: 38px;width: 38px;line-height: 38px;font-size: .5rem;}
                    }
                }
                &#event{
                    .box-body{
                        .events-today{height: 188px;}
                    }
                }
            }
        };
    }
}